body {
   margin: 30px;
  
}

.avatar {
   width: 200px;
   padding: 40px auto;
   margin-bottom: 10px;
   padding-right: 25px;
   
}

.card {
   width: 400px;
   display: flex;
   justify-content: center;
   background: #cce3de;
   text-align: center;
   margin: 20px 50px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 30px;
   color: black;
   border-bottom: 15px solid #a4c3b2;
   border-right: 15px solid #6b9080;
   border-radius: 5px;
   
   
}
